.Card {
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    border-radius: 10px;
    flex-flow: column nowrap;
    padding: 0 70px 15px 30px;
    background-color: white;
    transition: 300ms ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.JobLogo {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    align-items: center;
    display: inline-flex;
    border-radius: 1rem;
    justify-content: center;
    transform: translateY(-50%);
    background-color: white;
    transition: 300ms ease-in-out;
    
}

.JobCard img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.JobContent {
    display: flex;
    margin-top: -20px;
    align-items: center;
    color: #6E8098;
    font-size: 1.0rem;
    line-height: 1.9rem;
    font-weight: 400;
}

.spacer-dot {
    width: .4rem;
    height: .4rem;
    margin: 0 1.2rem;
    border-radius: 50%;
    background-color: #6E8098;
}

.JobTitle {
    margin: 10px 0;
    font-size: 18px;
    line-height: 2.4rem;
    color:  #19202D;
    font-weight: 750;
    transition: 300ms ease-in-out #19202D;
}

.JobCompany {
    margin-top: 0.5px;
    margin-bottom: 2.rem;
    color: #6E8098;
    font-size: 1.0rem;
    line-height: 1.9rem;
    font-weight: 400;
}

.JobLocation {
    margin-top: auto;
    color: #5964E0;
    font-size: 1.0rem;
    line-height: 1.8rem;
    font-weight: 700;
}
