.DetailContainer {
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.JobDetailGroup {
    margin-top: 90px;
    max-width: 300px;
    z-index: 99;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-content: center;
    grid-row-gap: 70px;
}

.Company {
    width: 100%;
    padding: 0 38px 10px 38px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 100px;
    align-items: center;
    justify-items: center;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Company:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.Company img {
    width: 80px;
    height: 80px;
    border-radius: 1.8px;
    margin-top: 12px;
}

.CompanyGroup {
    margin-top: -0.1rem;
}

.CompanyTitle {
    margin-bottom: 0.9rem;
    font-size: 18px;
    line-height: 38px;
    color: #19202d;
    font-weight: 750;
    transition: 300ms ease-in-out #19202d;
    float: left;
}

.CompanyUrl {
    margin-top: 0.5px;
    margin-bottom: 2rem;
    color: #6e8098;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.btn {
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    line-height: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.btn-disabled {
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    line-height: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: no-drop;
    font-weight: 500;
    text-decoration: none;
}

.btn:hover {
    color: black;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}


.btn:focus {
    outline: none;
}

.btn-Company {
    margin-top: 38px;
    background-color: #d9e1f3;
    color: #5964e0;
}

.JobDetail {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 20px 38px 20px 38px;
    background-color: white;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.JobDetail:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.jobHeading {
    display: flex;
    flex-flow: column nowrap;
}

.JobDetailTime {
    display: flex;
    margin-top: -12px;
    align-items: center;
    justify-items: center;
    color: #6e8098;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.Details-dot {
    width: 6.4px;
    height: 6.4px;
    margin: 0 19px;
    border-radius: 50%;
    background-color: #6e8098;
}

.JobDetailTitle {
    margin: 10px 0;
    font-size: 22px;
    line-height: 38px;
    color: #19202d;
    font-weight: 750;
    transition: 300ms ease-in-out #19202d;
}

.JobDetailLocation {
    margin-top: auto;
    color: #5964e0;
    font-size: 16px;
    line-height: 1.8rem;
    font-weight: 700;
}

.btn-apply {
    margin-top: -5rem;
    background-color: #5964e0;
    color: white;
    align-self: center;
    float: right;
}

.JobDescription {
    color: #6e8098;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.JobHow {
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    padding: 64px 38px 51px;
    background-color: #5964e0;
    opacity: 0.9;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.JobHow:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.JobHowHeading {
    margin: 10px 0;
    font-size: 22px;
    line-height: 38px;
    color: white;
    font-weight: 750;
    transition: 300ms ease-in-out white;
}

.JobHowDescription {
    color: white;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.JobHowDescription a {
    color: white;
}

.CompanyFooter {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 0 38px 1rem 38px;
    background-color: rgba(255, 255, 255);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 100px;
    align-items: center;
    justify-items: center;
    height: fit-content;
    margin-bottom: 2px;
}

.CompanyFooter:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.btn-apply-footer {
    background-color: #5964e0;
    color: white;
    float: right;
}

.Loader {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
}

@media only screen and (max-width : 1000px) {

    .JobDetailGroup {
        margin-top: 80px;
    }

    .Company {
        width: 80%;
        grid-column-gap: 20px;
    }
    
    .JobDetail { 
        width: 80%;
    }

    .JobHow {
        width: 80%;
    }

    .CompanyFooter {
        width: 80%;
    }
}

@media only screen and (max-width : 640px) {

    .Company {
        grid-template-columns: repeat(1, auto);
    }

    .CompanyFooter .CompanyGroup {
        display: none;
    }

}
