.Container {
    padding: 110px 300px;
    max-width: 100%;
    position: relative;
}

.SearchGroup {
    border-radius: 10px;
    background-color: white;
    transition: 300ms ease-in-out;
    position: absolute;
    width: 60%;
    height: 45%;
    z-index: 10;
}

.SearchForm {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.InputGroup {
    padding: 44px 0;
    background-repeat: no-repeat;
    background-position: left center;
}

.InputTitle {
    padding-left: 48px;
    padding-right: 16px;
    background-image: url(../static/search.png);
}

.InputTitle input {
    border: none;
}

.InputLocation {
    padding-left: 48px;
    padding-right: 16px;
    margin-left: 39px;
    background-image: url(../static/location.png);
}

.InputLocation input {
    border: none;
}

.InputCheckbox {
    width: 10px;
    overflow: hidden;
    margin-left: 3px;
    min-width: 140px;
    white-space: nowrap;
    margin-right: 45px;
    cursor: pointer;
}

.InputDivider {
    width: 3px;
    height: 60%;
    opacity: 0.2;
    background-color: #6e8098;
}

.InputLabel {
    font-size: 15px;
    padding-left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.btn-search {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    background-color: #5964e0;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}

.btn-search:hover {
    opacity: 0.8;
}

@media (max-width: 1400px) {
    .SearchForm .InputCheckbox:nth-child(5) {
        display: none;
    }

    .SearchForm .InputDivider:nth-child(4) {
        display: none;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .SearchGroup {
        transform: translateX(-10%);
    }

    .SearchForm {
        grid-column-gap: 1px;
        overflow: hidden;
        grid-template-columns: repeat(2, auto);
    }

    .SearchForm .btn-search {
        margin-left: 50px;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-image: url(../static/search.png);
        background-repeat: no-repeat;
        background-position: center;
        position: right;
    }

    .SearchForm .InputCheckbox {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputLocation {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputTitle {
        background-image: none;
        padding-left: 16px;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1000px) {
    .SearchGroup {
        transform: translateX(-25%);
    }

    .SearchForm {
        grid-column-gap: 1px;
        overflow: hidden;
        grid-template-columns: repeat(2, auto);
    }

    .SearchForm .btn-search {
        margin-left: 50px;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-image: url(../static/search.png);
        background-repeat: no-repeat;
        background-position: center;
        position: right;
    }

    .SearchForm .InputCheckbox {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputLocation {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputTitle {
        background-image: none;
        padding-left: 16px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 950px) {
    .SearchGroup {
        transform: translateX(-35%);
    }

    .SearchForm {
        grid-column-gap: 1px;
        overflow: hidden;
        grid-template-columns: repeat(2, auto);
    }

    .SearchForm .btn-search {
        margin-left: 50px;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-image: url(../static/search.png);
        background-repeat: no-repeat;
        background-position: center;
        position: right;
    }

    .SearchForm .InputCheckbox {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputLocation {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputTitle {
        background-image: none;
        padding-left: 16px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .SearchGroup {
        transform: translateX(-40%);
    }

    .SearchForm {
        grid-column-gap: 1px;
        overflow: hidden;
        grid-template-columns: repeat(2, auto);
    }

    .SearchForm .btn-search {
        margin-left: 50px;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-image: url(../static/search.png);
        background-repeat: no-repeat;
        background-position: center;
        position: right;
    }

    .SearchForm .InputCheckbox {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputLocation {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputTitle {
        background-image: none;
        padding-left: 16px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 850px) {
    .SearchGroup {
        transform: translateX(-40%);
    }

    .SearchForm {
        grid-column-gap: 1px;
        overflow: hidden;
        grid-template-columns: repeat(2, auto);
    }

    .SearchForm .btn-search {
        margin-left: 50px;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-image: url(../static/search.png);
        background-repeat: no-repeat;
        background-position: center;
        position: right;
    }

    .SearchForm .InputCheckbox {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputLocation {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputTitle {
        background-image: none;
        padding-left: 16px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 800px) {
    .SearchGroup {
        transform: translateX(-50%);
    }

    .SearchForm {
        grid-column-gap: 1px;
        overflow: hidden;
        grid-template-columns: repeat(2, auto);
    }

    .SearchForm .btn-search {
        margin-left: 50px;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-image: url(../static/search.png);
        background-repeat: no-repeat;
        background-position: center;
        position: right;
    }

    .SearchForm .InputCheckbox {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputLocation {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputTitle {
        background-image: none;
        padding-left: 16px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .SearchGroup {
        transform: translateX(-55%);
    }

    .SearchForm {
        grid-column-gap: 1px;
        overflow: hidden;
        grid-template-columns: repeat(2, auto);
    }

    .SearchForm .btn-search {
        margin-left: 50px;
        font-size: 0;
        width: 50px;
        height: 50px;
        background-image: url(../static/search.png);
        background-repeat: no-repeat;
        background-position: center;
        position: right;
    }

    .SearchForm .InputCheckbox {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputLocation {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputTitle {
        background-image: none;
        padding-left: 16px;
    }
}
