.SearchGroup {
    padding-top: 90px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.SearchForm {
    display: grid;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    background-color: white;
    justify-items: center;
    padding-left: 30px;
    padding-right: 20px;
    transition: 0.9s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index: 10;
}

.SearchForm:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.InputGroup {
    padding: 25px 0;
    background-repeat: no-repeat;
    background-position: left center;
}

.InputTitle {
    padding-left: 48px;
    padding-right: 16px;
    background-image: url(../static/search.png);
}

.InputTitle input {
    border: none;
    height: 20px;
    font-size: 14pt;
}

.InputGroup input:focus {
    outline: none;
}

.InputLocation {
    padding-left: 48px;
    padding-right: 10px;
    margin-left: 39px;
    background-image: url(../static/location.png);
}

.InputLocation input {
    border: none;
    height: 20px;
    font-size: 14pt;
}

.InputCheckbox {
    width: 10px;
    overflow: hidden;
    margin-left: 15px;
    min-width: 140px;
    white-space: nowrap;
    margin-right: 40px;
    cursor: pointer;
}

.InputDivider {
    width: 3px;
    height: 60%;
    opacity: 0.2;
    background-color: #6e8098;
}

.InputLabel {
    font-size: 15px;
    padding-left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.btn-search {
    width: 120px;
    height: 50px;
    border-radius: 8px;
    background-color: #5964e0;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}

.btn-search:hover {
    color: black;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.btn-search:focus {
    outline: none;
}



@media only screen and (max-width : 1000px)
{   
    .SearchGroup {
        padding-top: 80px;
    }
    
    .SearchForm .InputCheckbox {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .InputLocation {
        display: none;
    }

    .SearchForm .InputDivider {
        display: none;
    }

    .SearchForm .btn-search {
        margin-left: 50px;
        font-size: 0;
        width: 45px;
        height: 45px;
        background-image: url(../static/search.png);
        background-repeat: no-repeat;
        background-position: center;
        position: right;
    }

    .SearchForm .InputTitle {
        background-image: none;
        padding-left: 1px;
        padding-right: 1px;
    }

}

@media only screen and (max-width : 500px) {

    .InputGroup {
        padding-top: 10px;
    }

    .SearchForm .btn-search {
        margin-left: 20px;
        width: 35px;
        height: 35px;
        background-color: white;
    }

    .InputTitle input {
        height: 13px;
        font-size: 12pt;
    }
    
}
